* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Nunito, sans-serif;
  background-color: #f4f9fd;
}
ul {
  list-style: none;
  color: #33475B;
}
ul li img  {
  width: 13px;
}
.left ul li,
.right ul li,
.crm ul li,
.marketing ul li,
.sales ul li,
.service ul li,
.loghi-partners ul li {
  display: inline;
}
ul li a {
  margin-right: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #33475B;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}
h3 {
  font-size: 35px;
  text-transform: capitalize;
  color: #33475B;
}
h4 {
  font-size: 23px;
  text-transform: capitalize;
  color: #33475B;
}
h5 {
  color: #fff;
}
h6 {
  margin-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #33475B;
}
p {
  color: #33475B;
  font-size: 19px;
  font-weight: lighter;
}
.gethub {
  color: #fff;
  background-color: #fd7b5a;
  border-radius: 5px;
  padding: 10px;
}

/* all ::after */
.top-nav::after,
.bottom-nav .container::after,
.free-hub,
.three-blocks,
.tab-top,
.tab-bottom,
.partners,
.happy-girl,
.top-footer::after {
  content: "";
  display: table;
  clear: both;
}

/* navbar */
.all-navbar {
  height: 75px;
  border-bottom: 1px solid #bbbcbe;
  background-color: #f4f9fd;
}
.top-nav,
.bottom-nav .container {
  width: 75%;
  height: 75px;
  margin: auto;
  line-height: 75px;
}
/* top-nav */

/* left-nav */
.top-nav .left {
  float: left;
  width: 50%;
}
.top-nav .left ul li:last-child a{
  margin-left: 20px;
  padding-left: 25px;
  border-left: 2px solid #bbbcbe;
}
/* right-nav */
.top-nav .right {
  float: right;
  width: 50%;
}
.top-nav .right ul {
  text-align: right;
}
.right .fa-search {
  color: #01b0b1;
}
.right .login {
  color: #fd7b5a;
  border: 1px solid #fd7b5a;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px;
}
.right .gethub ul li:last-child a {
  color: #fff;
}
/* bottom-nav */
.bottom-nav {
  height: 75px;
  background-color: #fff;
}
/* botton-left */
.container .left {
  float: left;
  width: 50%;
}
.container .left a img {
  width: 130px;
  margin-top: 20px;
}
/* botton-right */
.container .right {
  float: right;
  width: 50%;
}
.container .right ul {
  text-align: right;
}
.container .right ul li a{
  margin-left: 20px;
}
.container .right ul li a i {
  padding-left: 7px;
}
/* fine-navbar */

/* header */
.all-header {
  margin-top: 75px;
  position: relative;
  /* width: 100%; */

}
/* top-header */
.top-header img {
  width: 100%;
}
.top-header .claim {
  position: absolute;
  width: 75%;
  top: 50%;
  transform: translateY(-70%);
  margin-left: 12.5%;
}
.top-header .claim h1 {
  margin-bottom: 30px;
  font-size: 50px;
  color: #33475B;
}
.top-header .claim p {
  margin-bottom: 50px;
  line-height: 30px;
}
.top-header .claim a {
  text-decoration: none;
  padding: 15px 20px;
  margin-bottom: 50px;
}
.top-header .claim .little{
  font-size: 14px;
  margin-top: 50px;
}
/* bottom-header */
.bottom-header {
  width: 100%;
  height: 90px;
  background-color: #5fe3e2;
  border-bottom: 2px solid #32495b;
}
/* fine header */

/*general main&footer */
.cube,
.free-hub,
.three-blocks,
.gradient-tab,
.partners,
.happy-girl,
.top-footer,
.center-footer,
.bottom-footer{
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
}

/* main */

/* main-cube */
.cube-image {
  text-align: center;
}
.cube-image img {
  margin-top: 40px;
  width: 350px;
}
.cube-image h3 {
  margin-top: 20px;
}
.cube-image p {
  margin-top: 20px;
}
/* main fre-hub */
.free-hub {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px #ecf2f1;
}
/*fre-hub book */
.book {
  float: left;
  margin-top: 0;
  width: 40%;
}
.book {
  text-align: center;
  height: 320px;
}
.book img {
  width: 170px;
  margin: 30px;
}
.book-learn a {
  padding: 20px 30px;
  text-decoration: none;
  text-transform: capitalize;
}
/* fre-hub crm */
.crm {
  float: right;
  margin-top: 0px;
  width: 60%;
}
.crm h4 {
  margin: 40px 0;
}
.crm p {
  margin-bottom: 30px;
}
.features {
  position: relative;
}
.crm .features h6 {
  margin-bottom: 30px;
}
.features .line {
  position: absolute;
  width: 500px;
  left: 230px;
  bottom: 10px;
  border-bottom: 1px solid #adafb0;
}
.crm ul li {
  margin-right: 20px;
  text-transform: capitalize;
}
/* three-blocs */
.block {
  float: left;
  width: 28%;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 2px #ecf2f1;
}
/* block-marketing */
.marketing,
.sales,
.service,
.gradient-tab {
  text-align: center;
}
.book-mark {
  width: 165px;
  margin: 30px 0;
}
.marketing h4,
.sales h4,
.service h4 {
  margin-bottom: 30px;
}
.marketing p,
.sales p,
.service p {
  margin-bottom: 30px;
  padding-bottom: 70px;
  font-size: 15px;
  font-weight: lighter;
  border-bottom: 0.7px solid #adafb0;
}
.marketing ul,
.sales ul,
.service ul {
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
  margin: 10px 10px;
  color: #33475B;
}
.book-learn {
  margin: 50px;
}
/* block-sales */
.sales {
  margin: 0 8%;
}
.sales-mark {
  width: 155px;
  margin: 30px

  ;
}

/* block-service */
.service-mark {
  width: 145px;
  margin: 30px
}

/* block-gradient */
.gradient {
  width: 100%;
  /* height: 800px; */
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
.gradient-tab {
  padding-bottom: 70px;
}
.tab-title {
  width: 60%;
  margin: auto;
}
.tab-title h3 {
  padding-top: 60px;
  margin-bottom: 40px;
  font-size: 32px;
  color: #fff;
}
.tab-title p {
  margin-bottom: 50px;
  font-size: 16px;
  color: #fff;
}
.tab-top {
  width: 90%;
  margin: auto;
  height: 250px;
  border-bottom: 1px solid #FFF;
}
.tab-bottom{
  width: 90%;
  margin: auto;
  height: 250px;
}
.top-col,
.bottom-col {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
}
.top-col img,
.bottom-col img {
  margin: 50px 0 30px 0;
}
.first,
.second,
.third {
  border-right: 1px solid #FFF;
}
.bottom-col .first,
.bottom-col .second,
.bottom-col .third {
  border-right: 1px solid #FFF;
  padding-bottom: 50px;
}

/* <!-- block-partners --> */
.vantiamoci {
  position: relative;
  float: left;
  width: 30%;
  background-color: #6a76d6;
}
.vantiamoci-box{
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.vantiamoci-box h3{
  margin-bottom: 20px;
}
.vantiamoci-box p {
  font-weight: normal;
  font-size: 18px;
}
.loghi-partners {
  float: right;
  width: 70%;
  text-align: center;
}
.loghi-partners ul li img {
  width: 150px;
  margin-right: 25px;
}
.loghi-partners .attlassian,
.loghi-partners .doordash {
  padding-bottom: 5px;
}
.loghi-partners .g2 {
  width: 110px;
}
.loghi-partners .purple {
  width: 110px;
}
.loghi-partners .subaru,
.loghi-partners .wistia,
.loghi-partners .classpass {
  width: 110px;
}
.loghi-partners .subaru {
  margin-top: 20px;
  padding-bottom: 7px;
}
.loghi-partners .wistia {
  padding-bottom: 15px;
}
.loghi-partners .vmware {
  width: 110px;
  margin-bottom: 10px;
}

/* happy-girl */
.girl-button {
  float: left;
  width: 40%;
  margin-top: 100px;
}
.girl-button h3 {
  padding-bottom: 40px;
}
.girl-button .book-learn {
  margin-left: 0;
}
.girl-button .little-p {
  font-size: 12px;
}
.girl-photo {
  position: relative;
  float: right;
  width: 60%;
  margin-top: 60px;
}
.girl-photo img{
  position: absolute;
  width: 300px;
  left: 50%;
}
/* fine main */

/* footer */
.all-footer {
  width: 100%;
  height: 900px;
  background-color: #344b5b;
}
/* top footer */
.top-left {
  float: left;
  width: 25%;
}
.top-left h5 {
  font-size: 14px;
  margin: 70px auto 20px;
}
.top-left ul li {
  margin-bottom: 14px;
}
.top-left a {
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
}
.footer-learn {
  margin: 30px 0;
}
.footer-learn .gethub {
  text-decoration: none;
  text-transform: capitalize;
  background-color: #fff;
  color: #344b5b;
}
.icon-social ul li {
  display: inline;
  color: #fff;
}
.icon-social ul li a {
  margin-right: 30px;
  font-size: 22px;
}
